body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.header {
    height: 25px;
    width: 100%;
    background-color: #eeeeee;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.footer {
    height: 25px;
    width: 100%;
    background-color: #182c3c;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
    text-emphasis: none;
}

.footer a:visited{
    color: white;
}

.img-small {
    height: 20px;
    width: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
    padding: 50px;
    align-items: center;
}

.search-bar {
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 50%;
    padding: 5px 5px;
    margin: 20px 0px;
}

.control-button {
    border: none;
    background-color:white;
    opacity: 50%;
}

.control-button:hover {
    opacity: 100%;
}

.search-bar:focus-within {
    border-color: orange;
}

.search-bar input[type=text]:focus {
    outline: none;
}

.search-bar input[type=text] {
    border: none;
    width: 100%;
}

.search-results-cards{
    margin: 10px;
    display: flex;
    overflow-x: scroll;
    max-width: 90%;
    margin: 20px 0px;
}

.artist-card{
    padding: 5px;
    background-color: #205375;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 2px;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 250px;
}

.artist-card.selected-card{
    background-color: #182c3c;
}

.artist-card:hover{
    background-color: #182c3c;
}

.artist-card p{
    font-size: medium;
}

.artist-thumbnail{
    border-radius: 50%;
    border: 5px solid white;
    height: 200px;
    width: 200px;
    margin: 5px;
}

.artist-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 90%;
}

.artist-bio h2, .artist-bio h3,.artist-bio p{
    margin: 2px;
}

.loader{
    height: 100px;
}

.no-results{
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 20px;
    min-width: 750px;
    text-align: center;
}